My_Test/My_TestChild_2/src/main/resources/GetCreditClientInfo_1.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.vtb24.ru/IT/IVR/IVRTypes/v1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vtb24.ru/IT/IVR/IVRTypes/v1.0" targetNamespace="http://www.vtb24.ru/IT/IVR/IVRTypes/v1.0">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.vtb24.ru/IT/IVR/IVRTypes/v1.0">
    <xs:element name="GetCreditClientInfoRequest">
        <xs:annotation>
            <xs:documentation>Запрос</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <!-- ANI -->
                <xs:element maxOccurs="1" minOccurs="1" name="Ani">
                    <xs:annotation>
                        <xs:documentation>
                            Номер телефона primary_ani, как приходит в приложение предоставления заявки на кредит
                        </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="20"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCreditClientInfoResponse">
        <xs:annotation>
            <xs:documentation>Результат исполнения запроса</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>

                <!-- ErrorCode -->
                <xs:element maxOccurs="1" minOccurs="1" name="ErrorCode">
                    <xs:annotation>
                        <xs:documentation>
                            Код ошибки:
                            0 - Запрос отработал без ошибок.
                            1 - Непредсказуемая ошибка на этапе исполнения
                        </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:int"/>
                    </xs:simpleType>
                </xs:element>

                <!-- IsRFCitizen -->
                <xs:element minOccurs="0" name="IsRFCitizen">
                    <xs:annotation>
                        <xs:documentation>
                            Гражданство РФ? 1 – да, 0 – нет
                        </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:int"/>
                    </xs:simpleType>
                </xs:element>

                <!-- RegistrationCity -->
                <xs:element minOccurs="0" name="RegistrationCity">
                    <xs:annotation>
                        <xs:documentation>
                            Город регистрации, как хранится в Минерве. Пример: «г Москва»
                        </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <!-- BirthDate -->
                <xs:element minOccurs="0" name="BirthDate">
                    <xs:annotation>
                        <xs:documentation>
                            Дата рождения в ANSI SQL формате YYYY-MM-DD
                        </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="10"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <!-- HasPastDuePayment -->
                <xs:element minOccurs="0" name="HasPastDuePayment">
                    <xs:annotation>
                        <xs:documentation>
                            Имеет просроченную задолженность в ВТБ24? 1 – да, 0 – нет
                        </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:int"/>
                    </xs:simpleType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="GetCreditClientInfoRequest">
    <wsdl:part element="tns:GetCreditClientInfoRequest" name="GetCreditClientInfoRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCreditClientInfoResponse">
    <wsdl:part element="tns:GetCreditClientInfoResponse" name="GetCreditClientInfoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GetCreditClientInfoPort">
    <wsdl:operation name="GetCreditClientInfo">
      <wsdl:input message="tns:GetCreditClientInfoRequest" name="GetCreditClientInfoRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetCreditClientInfoResponse" name="GetCreditClientInfoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetCreditClientInfoPortSoap11" type="tns:GetCreditClientInfoPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetCreditClientInfo">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetCreditClientInfoRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetCreditClientInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetCreditClientInfoPortService">
    <wsdl:port binding="tns:GetCreditClientInfoPortSoap11" name="GetCreditClientInfoPortSoap11">
      <soap:address location="http://localhost:8080/Ivr3/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>